.container
  .jumbotron
    %h1
      Simple Demo. It's working!
    %p
      We're so happy that the authentication is working correctly
    %a.btn.btn-primary{ href: 'http://google.com'}
      Cool stuff
  .panel.panel-default
    .panel-body
      %p
        %strong
          Response to request
        %code
          = @req
  #display_block.panel.panel-default.collapse
    .panel-body
      %pre